.header {
    width: 1200px;
    height: 90px;
    line-height: 90px;
    border-bottom: none;
    background: #fff;
    margin: 0 auto;
}
.header .logo {
    float: left;
    margin: 20px 30px 0 5px;
}
.header ul {
    float: left;
    margin: 0;
    padding: 0;
}
.header ul li {
    height: 90px;
    width:120px;
    float: left;
    text-align: center;
    margin: 0 10px 0 15px;
    padding: 0 2px;
    z-index: 1;
    cursor: pointer;
}
.header ul li a {
    font-size: 16px;
    color: #333;
}
.header ul li :hover {
    color: purple;
    font-size: 20px;
}

.header .search-btn {
    float: right;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    /*background: #1fc8b5 url(../img/search-before.png) 10px 10px no-repeat;*/
    cursor: pointer;
    margin: 24px 140px 0 0;
}
.header .search-form {
    float: right;
    position: relative;
    margin: 0 140px 0 0;
    width: 420px;
    display: none;
}
.header .search-form input {
    border: 1px solid #1fc8b5;
    border-radius: 30px;
    width: 420px;
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    font-size: 14px;
    font-family: "微软雅黑";
}
.header .search-form .submit-btn {
    position: absolute;
    right: 0;
    top: 24px;
    height: 42px;
    width: 65px;
    background: #1fc8b5;
    border-radius: 0 20px 20px 0;
    font-size: 18px;
    color: #fff;
    border: none;
    font-family: "微软雅黑";
}

.content {
    width:85%;
    height:800px;
    margin:30px auto;
}
.content .content-center{
    width:95%;
    height:800px;
    margin:0 auto;
}
.content .content-left{
    width:18%;
    height:630px;
    float:left;
    border:2px solid #a550c0;
    border-radius: 10px 0 0 10px ;
    margin-top:25px;
}
.content .content-left .panel-title{
    font-size:18px;
    text-align: center;
    padding:15px 0;
    border-bottom: 1px dashed #a550c0;
}
.content .content-left ul{
    text-align: center;
    border-bottom:none;
    height: 570px;
    overflow: auto;
}
.content .content-left .scrollbar::-webkit-scrollbar{
    width: 2px;
}
.content .content-left ul li{
    text-align: left;
    display: inline-block;
    font-size: 16px;
    padding: 8px 15px ;
}

.content .content-right{
    width:80%;
    height:630px;
    float:right;
    border:1px solid #ccc;
    margin-top:25px;
    overflow: hidden;
}
.content .content-right .active{
    text-align: center;
    display: block;
}
.content .content-right .title{
    font-size: 18px;
    color: #a550c0;
    padding:20px;
    text-align: center;
}

.content .content-right .panel .panel-top{
    /*border-bottom: dashed 1px #ccc;*/
}
.content .content-right .panel .panel-middle{
    /*border-bottom: dashed 1px #ccc;*/
    padding:20px 0;
    text-align: left;
    margin-left:10%;
}
.content .content-right .panel .panel-title{
    font-size: 14px;
    text-align: left;
    margin-left: 8%;
}
.content .content-right .panel textarea{
    height: 80px;
    width: 85%;
    overflow: auto;
}
.content .content-right .panel .panel-bottom textarea{
    height: 300px;
}
.content .content-right .panel button{
    width: 80px;
    /*vertical-align:top;*/
    /*margin-top: 25px;*/
    /*background-image: url(../img/go1.png);*/
}
.content .content-right .panel input[type="file"]{
    text:"";
}

/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
.content .content-right .scrollbar::-webkit-scrollbar{
    width: 3px;
}
/*定义滚动条的轨道，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
}
/*定义滑块，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #a550c0;
}




.content .content-right .content{
    width:100%;
    /*height:100%;*/
    height:800px;
}
.content .content-right .content .panel{
    width:100%;
}
.content .content-right .content .panel-title{
    width:100%;
    color:#7ccace;
    font-size: 18px;
    padding:0 10%;
}
.content .content-right .content .panel-title p{
    text-align: left;
}
.content .content-right .content .panel-body {
    color:#333;
    padding:0;
    font-size: 16px;
}
.content .content-right .content .panel-body a{
    display: block;
    padding:10px 10%;
}


.footer {
    width:100%;
    height:280px;
    background: #381f40;
    color:#fff;
}
.footer .footer-center{
    width:80%;
    margin: 0 auto;
}
.footer .footer-center .footer1{
    float:left;
    width:25%;
    padding:5% 0 ;
}
.footer .footer-center .footer1 dl dd{
    margin:4% 0;
}
.footer .footer-center .footer1 dl dd a {
    color:#fff;
    display: block;
}
.footer .footer-center .footer1 dl dd img{
    margin-left:2%;
}



